<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="BasePage.master.cs" Inherits="DrugProNET.BasePage" %>

<!DOCTYPE html>

<html>
<head runat="server">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    <link rel="icon" href="./Images/icon.png">

    <link type="text/css" rel="stylesheet" href="./Libraries/Bootstrap 3.3.7/css/bootstrap.min.css" runat="server" />
    <script src="./Libraries/JQuery 3.3.1/jquery-3.3.1.min.js"></script>
    <script src="./Libraries/Bootstrap 3.3.7/js/bootstrap.min.js"></script>

    <link type="text/css" rel="stylesheet" href="./CSS/base_style.css" runat="server" />
    <asp:ContentPlaceHolder ID="HeadContentPlaceHolder" runat="server">
    </asp:ContentPlaceHolder>
    <script src="./Scripts/OptionSelectRedirection.js"></script>
</head>
<body>
    <form runat="server">
        <asp:ScriptManager ID="script_manager" runat="server" EnablePageMethods="true" EnableCdn="true" EnablePartialRendering="true" />
        <div class="main-container">
            <div id="website-banner" class="banner">
                <img id="banner-image" src="./images/DrugProNETBanner.png" alt="Unable to display image" usemap="#banner-map">
                <map name="banner-map">
                    <area shape="rect" coords="0, 0, 1024, 90" href="Default.aspx" alt="Error">
                    <area shape="rect" coords="0,57.2, 655, 147.2 " href="Default.aspx" alt="Error">
                    <area shape="rect" coords="655, 57.2, 1024, 147.2" href="http://www.kinexus.ca" target="_blank" alt="Error">
                </map>
            </div>
            <nav>
                <ul class="navigation-links horizontal-list">
                    <li><a id="1" href="http://kinatlas.ca:8080" target="_blank">KinATLAS</a></li>
                    <li><a id="2" href="http://www.transcriptonet.ca" target="_blank">TranscriptoNET</a></li>
                    <li><a id="3" href="http://www.phosphonet.ca" target="_blank">PhosphoNET</a></li>
                    <li><a id="4" href="http://www.onconet.ca" target="_blank">OncoNET</a></li>
                    <li><a id="5" href="http://www.kinasenet.ca" target="_blank">KinaseNET</a></li>
                    <li><a id="6" href="http://www.drugkinet.ca" target="_blank">DrugKiNET</a></li>
                    <li><a id="7" href="http://www.drugpronet.ca">DrugProNET</a></li>
                    <li><a id="8" href="http://www.kinet-am.ca" target="_blank">KiNET-AM</a></li>
                    <li><a id="9" href="http://www.kinexus.ca/kinetica" target="_blank">Kinetica Online</a></li>
                </ul>
            </nav>
            <div class="col-container">
                <ul class="query horizontal-list col">
                    <li>
                        <p class="query-select-text">Select type of query desired</p>
                    </li>
                    <li>
                        <select id="query-selector">
                            <option value="">Hover to view options</option>
                            <option value="ProteinInfo">Protein Information</option>
                            <option value="DrugInfo">Drug Information</option>
                            <option value="ProteinQuery">Protein-focused Drug Interaction</option>
                            <option value="DrugQuery">Drug-focused Protein Interaction</option>
                            <option value="SNVIDQuery">SNV Identification</option>
                            <option value="SNVDrugQuery">SNV-focused Drug Interaction</option>
                        </select>
                    </li>
                </ul>
                <ul class="secondary-navigation horizontal-list col">
                    <div class="float-left">
                        <li class="updated_text">
                            <p class="updated_text">Updated January 2019</p>
                        </li>
                    </div>
                    <div>
                        <li>
                            <a href="Default.aspx">Home</a>
                        </li>
                        <li>
                            <p>|</p>
                        </li>
                        <li>
                            <a href="http://www.kinexus.ca/kinetica">Kinexus</a>
                        </li>
                        <li>
                            <p>|</p>
                        </li>
                        <li>
                            <a href="http://www.kinexus.ca/contact/contact.html">Contact</a>
                        </li>
                        <li>
                            <p>|</p>
                        </li>
                        <li>
                            <a href="Credits.aspx">Credits</a>
                        </li>
                    </div>
                </ul>
            </div>
            <asp:ContentPlaceHolder ID="BodyContentPlaceHolder" runat="server">
            </asp:ContentPlaceHolder>
            <div class="c-row">
                <div class="c-col side-spacing"></div>
                <div class="c-col side-content">
                    <ul class="left-sidebar-links">
                        <li>
                            <a href="Default.aspx">Home</a>
                        </li>
                        <li>
                            <span class="left-sidebar-link-divider">|</span>
                        </li>
                        <li>
                            <a href="#website-banner">Top</a>
                        </li>
                    </ul>
                </div>
                <footer class="c-col body-content footer-content">
                    <h2>Copyright © 2019 Kinexus Bioinformatics Corporation. All rights reserved.</h2>
                </footer>
            </div>
        </div>
    </form>
</body>
</html>
