.main-container {
    width: 1024px;
    text-align: center;
    margin: auto;
}

.h3-body-title {
    color: #FFC300;
    font-weight: bold;
    font-size: 14px;
    text-align: left;
}

.c-row {
    display: flex;
}

.body-content-long {
    width: 83.5%;
    flex: 0 0 83.5%;
    flex-direction: column;
    padding-left: 1em;
    padding-right: 1em;
    border-style: solid;
    border-width: 0 0 0 1px;
    border-color: #7DAED4;
    text-align: left;
}

.body-content-long-full {
    width: 97.5%;
    flex: 0 0 97.5%;
}

.flex-container {
    display: flex;
}

.flex-row {
    flex-direction: row;
    display: flex;
    width: inherit;
}

.flex-col {
    flex-direction: column;
    display: flex;
    width: inherit;
}

.side {
    padding-left: 1em;
    text-align: right;
    padding-right: 1em;
    flex: 1 1 auto;
    width: 143.36px; /* I don't know if this can be changed to be perecentages */
    border-left: 1px solid #7daed4;
}

.body {
    flex: 1 1 auto;
    width: 460.8px;
    text-align: left;
    padding-left: 1em;
    border-left: 1px solid #7daed4;
}

.image-content {
    text-align: center;
    flex: 1 1 auto;
    width: 394.23px;
}

    .image-content img {
        width: 288px;
        height: auto;
    }

.h3-side-title {
    color: #FFC300;
    font-weight: bold;
    font-size: 14px;    
}

.h3-side-title-gold {
    color: #FFC300;
    font-weight: bold;
    font-size: 14px;
}

.p-general-info {
    color: #738569;
}

.p-side {
    color: #708591;
}

p {
    color: #e2e2e2;
}

.image-content {
    flex: 0 0 38.5%;
}

.white-link {
    color: white !important;
    text-decoration: underline;
}

    .white-link:hover {
        color: #d6d6d6 !important;
    }
