.h3-body-title {
    color: #FFC300;
    font-weight: bold;
    font-size: 14px;
}

.h3-side-title {
    color: #9999cc;
    font-weight: bold;
    font-size: 14px;
}

.body-content-long {
    width: 83.5%;
    flex: 0 0 83.5%;
    flex-direction: column;
    padding-left: 1em;
    padding-right: 1em;
    border-style: solid;
    border-width: 0 0 0 1px;
    border-color: #7DAED4;
    text-align: left;
}

.h3-side-title-gold {
    color: #FFC300;
    font-weight: bold;
    font-size: 14px;
}

.p-general-info {
    color: #738569;
}

.p-side {
    color: #708591;
}

p {
    color: white;
}

.white-link {
    color: white !important;
    text-decoration: underline;
}

    .white-link:hover {
        color: #d6d6d6 !important;
    }
