.ad_banner {
    text-align: center;
}

.h3-body-title {
    color: #FFC300;
    font-weight: bold;
    font-size: 14px;
    text-align: left;
}

.h3-side-title {
    color: #708591;
    font-weight: bold;
    font-size: 14px;
}

.descriptive {
    color: #738569;
}

p {
    color: #C6C8CA;
}

input {
    color: black;
}

.description {
    color: #738569;
}

.body-content-long {
    padding-left: 1em;
}

.body-content-long {
    border-style: solid;
    border-width: 0 0 0 1px;
    border-color: #7DAED4;
}

.display-square {
    width: 23em;
    height: 23em;
}

.amino-acid-container {
    padding-top: 1em;
}

.amino-acid-dropdown {
    color: black;
    float: left;
    margin-right: 1em;
    margin-top: 0.75em;
    border-radius: .3em;
    font-weight: normal;
    color: black;
}

.amino-acid-instructions {
    text-align: left;
    float: left;
    max-width: 37em;
    word-wrap: break-word;
}

select {
    align-items: initial;
}

.download-button {
    border-radius: 1em;
    color: black;
    height: 32px;
    padding-left: 1em;
    padding-right: 1em;
    float: left;
    margin-right: 2em;
}

.download-description {
    float: left;
    margin-top: 0.3em;
}

th {
    text-align: center; /* Removes previous th*/
}

table {
    border-collapse: collapse;
    text-align: center;
    color: black;
    overflow-y: auto;
    max-height: 500px;
    width: 700px;
    display: block;
    table-layout: fixed;
    margin-top: 10px;
}

tbody {
    border: none;
}

thead tr th {
    width: 2%;
    position: sticky;
    top: 0;
}

td {
    width: 2%;
}

.top-spacing {
    padding-top: 2em;
}
