.h3-body-title {
    color: #FFC300;
    font-weight: bold;
    font-size: 14px;
}

.h3-side-title {
    color: #708591;
    font-weight: bold;
    font-size: 14px;
}

p:not(.p-white):not(.p-side) {
    color: #738569;
}

.p-white {
    color: #C6C8CA;
}

.p-side {
    color: #708591;
}

.descriptive {
    color: #738569;
}


.download-button {
    border-radius: 1em;
    color: black;
    height: 32px;
    padding-left: 1em;
    padding-right: 1em;
}

.button-container {
    float: left;
    padding-right: 2em;
}

.body-content-long {
    width: 83.5%;
    flex: 0 0 83.5%;
    flex-direction: column;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: .5em;
    border-style: solid;
    border-width: 0 0 0 1px;
    border-color: #7DAED4;
    text-align: left;
}

.body-content {
    padding-bottom: .5em;
}



th {
    text-align: center; /* Removes previous th*/
}

table {
    border-collapse: collapse;
    text-align: left;
    color: black;
    overflow-y: auto;
    max-height: 500px;
    width: 100%;
    display: block;
}

tbody {
    border: none;
}

thead tr th {
    position: sticky;
    text-align: center;
    top: 0;
}

tr td:first-child {
    text-align: left;
    width: 25%;
}

tr td:not(:first-child):not(:last-child) {
    text-align: center;
}

tr td:last-child {
    text-align: left;
    width: 25%;
}

.IDofPDILinkedSNVTable {
    padding-top: 2em;
    padding-bottom: 2em;
}

.IDofPDILinkedSNVTable tr:nth-of-type(2n) {
    background-color: white;
}

.IDofPDILinkedSNVTable tr:nth-of-type(2n+1) {
    background-color: #F3F3FD;
}

.IDofPDILinkedSNVTable th {
    background-color: #F3F3FD;
}

