.h3-body-title {
    color: #FFC300;
    font-weight: bold;
    font-size: 14px;
}

.h3-side-title {
    color: #708591;
    font-weight: bold;
    font-size: 14px;
}

.body-content {
    padding-bottom: 1.3em;
}

p {
    color: #738569;
}

.drop-down {
    color: black;
    height: 25px;
    border-radius: .3em;
    width: 300px;
}
